body{
    color: rgb(0, 0, 0);
    width: 200px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: dodgerblue;
    margin-bottom: -1px;
    
}
div{
    background-color: gold;
    height: 5px;
    margin: 0;
    border-radius: 5px;
}

button{
    background-color:  dodgerblue;
    border-radius: 7px;
    color: white;
    border: none;
    padding: 5px;
    margin-left: 70px;
    transition: 0.2s;
    padding: 4px;
}
button:hover{
    background-color: white;
    color:  dodgerblue;
    cursor: pointer;
}